*{
    box-sizing: border-box;
}
.calculator{
    height: 700px;
    width: 500px;
    border: 2px solid blue;
    border-radius: 20%;
    overflow: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    background-color:blue
}
.display{
    width: 100%;
    height: 20%;
    background-color: black;
    opacity: 0.7;
}
.operands{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 3em;
}
.operands:hover{
    font-size: 3.5em;
    font-weight: bolder;
    background-color: orange;
    cursor: pointer;
}
.bodycal{
   height: 80%; 
}
.opr{
    margin: 0px;
   float: left;
   width: 25%;
    border:2px solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: dodgerblue;
}
.operator{
    height: 200px;
    border-radius: 25%;
    font-size: 3em;
}
.operator:hover{
    background-color: lightsalmon;
    font-weight: bolder;
    font-size: 3.5em;
    cursor: pointer;
}
.num{
    margin: 0px;
    float: left;
    width: 75%;
    height: 100%;
    border:2px solid black;
    background-color: dodgerblue;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    gap:10px;
    align-items: center;
}